# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Env
.venv/
env/
venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Excel
*.xlsx
!*.example.xlsx  # 如果你想放一份範例檔可以留

# Logs
*.log

# Ignore all output Excel files
/output/*
!/output/.gitkeep  # 可以留一個 .gitkeep 檔讓 GitHub 有 output 資料夾

# Ignore all input files except example
/input/*
!/input/.gitkeep

